<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <script src="/~cardamon/index.js"></script>
        <style>
            * {
                box-sizing: border-box;
                border: 0;
                padding: 0;
                margin: 0;
                font-family: monospace;
            }
            html {
                font-size: 16px;
            }
            .flex {
                display: flex;
            }
            .flex-col {
                flex-direction: column;
            }
            img {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <main class="flex flex-col">
            {%- for image in data.images -%}
            <div>
                <a href="{{config.server.images_path}}/{{image.original_src}}">
                    <img
                        src="{{ config.server.images_path }}/{{ image.resized_src }}"
                        loading="lazy"
                    />
                </a>
            </div>

            {%- endfor -%}
        </main>
    </body>
</html>
